body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

#pageX {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0;
    background-color: white;
}

h1 {
    margin: 0;
    text-align: center;
    font-size: 3em;
}

h1, h2 {
    font-family: 'Lobster Two', cursive;
    color: #43a6cb;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav {
    margin: 0;
    padding: 0;
}

nav a {
    width: 20%;
    display: block;
    float: left;
    background-color: #4d4d4d;
    text-align: center;
    text-decoration: none;
    color: #fff;
    padding: 1% 0;
    text-transform: uppercase;
}

nav a:hover {
    background-color: #43a6cb;
    color: white;
}

#heroX img {
    max-width: 100%;
}

article {
    width: 57%; 
    float: left;
    margin: 0 1% 0 2%;
}

figure {
    width: 75%;
    margin: 0 auto;
}

figure img {
    max-width: 95%;
    padding: 2.5%;
    box-shadow: 1px 1px 15px #999;
}

figcaption {
    margin-top: 1%;
    text-align: center;
    font-family: 'Lobster Two', cursive;
}

aside {
    width: 37%;
    float: left;
    margin: 0 2% 0 1%;
}

footer {
    background-color: #43a6cb;
    clear: both;
    text-align: center;
    color: white;
    font-size: small;
    font-family: 'Lobster Two', cursive;
    padding: 5px;
}

#heroX {
    position: relative;
    clear: both;
}

#abs {
    position: absolute;
    top: 10%;
    right: 2%;
    background-color: rgba(0, 0, 0, .3);
    color: white;
    padding: 0 2%;
    border-radius: 20px;
    width: 45%;
}

.center {
    display: block;
    margin: 0 auto;
}

a {
	font-weight: bold;
	text-decoration: none;
    color: #FF6600;
}

a:hover {
	color: #43a6cb;
}